[defaults]
inventory          = inventories/
roles_path         = roles
collections_paths  = ~/.ansible/collections
host_key_checking  = True
retry_files_enabled = False
stdout_callback    = yaml
callbacks_enabled  = profile_tasks

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
